.title{
    text-align: center;
    font-size: 50px;
    color: white;
}

#quiz-title{
    color:black;
}

#result-title{
    color: green;
}

.background{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    position: fixed;
    background-color:slateblue;
    width: 100%;
    height: 100%;
    align-items: center;
}

.button-bar{
    display: flex;
    justify-content: center;
}

.button-style{
    margin: 15px;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 20px;
}

.overlay{
    margin: 20px;
    background-color: white;
    padding: 45px;
}

.option-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.options{
    color:white;
    background-color:darkcyan;
    margin: 20px;
    width: 350px;
}